<div id="african-item-carousel" class="slide" data-ride="carousel">
    <div class="carousel-inner ">
        <div class="item active">
            <div class="col-md-3" ng-repeat="itemListing in getItems | filter:{item_category:'Mobile Accessories'} | orderBy:'created_at' | limitTo:'8'">
                <div class="row">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/default_item.png" alt="" />
                                <h2 class="african-header"> 
                                    Ksh {{itemListing.item_price}}
                                </h2>
                                <p>
                                    {{itemListing.item_title | limitTo:35}}
                                    {{itemListing.item_title.length < 35 ? '' : '...'}}
                                </p>
                                <a href="#" class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i> Explore More
                                </a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>Ksh {{itemListing.item_price}}</h2>
                                    <p>
                                        {{itemListing.item_title | limitTo:35}}
                                        {{itemListing.item_title.length < 35 ? '' : '...'}}
                                    </p>
                                    <a href="#" class="btn btn-default africa-add-to-cart">
                                        <i class="fa fa-shopping-cart"></i> Explore More
                                    </a>
                                </div>
                            </div>
                            <img src="images/home/sale.png" class="new" alt="" />
                        </div>
                        <div ng-controller="RatingCtrl" class="rating">
                            <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                            
                            <span class="lable pull-right" ng-class="{'lable-default': percent<30, 'lable-primary': percent>=30 && percent<70, 'lable-success': percent>=70}">{{percent}}%</span>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified trending-footer-tab">
                                <li class="african"><a href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Add to wishlist</a>
                                </li>
                                <li><a href="#">
                                    <i class="fa fa-exchange" aria-hidden="true"></i> Add to compare</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="item">
            ADD ANOTHER LAYER HERE
        </div> -->
    </div>
    <a class="left recommended-item-control" href="#items-carousel" data-slide="prev">
        <i class="fa fa-angle-left african-pointer"></i>
    </a>
    <a class="right recommended-item-control" href="#items-carousel" data-slide="next">
        <i class="fa fa-angle-right african-pointer"></i>
    </a>
</div>