<div id="recommended-item-carousel" class="slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="col-sm-4" ng-repeat="itemListing in getItems | filter:{item_category:'Mobile Phone'} | orderBy:'created_at' | limitTo:'8'">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/default_item.png" alt="" />
                            <h2 class="trending-header">
                                Ksh {{itemListing.item_price}}
                            </h2>
                            <p>
                                {{itemListing.item_title | limitTo:35}}
                                {{itemListing.item_title.length < 35 ? '' : '...'}}
                            </p>
                            <a href="#" class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Explore More
                            </a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>Ksh {{itemListing.item_price}}</h2>
                                <p>
                                    {{itemListing.item_title | limitTo:35}}
                                    {{itemListing.item_title.length < 35 ? '' : '...'}}
                                </p>
                                <a  ng-click="exploreMore(itemListing.iid)" id="submit" class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i> Explore More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div ng-controller="RatingCtrl" class="rating">
                        <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                        
                        <span class="lable pull-right" ng-class="{'lable-default': percent<30, 'lable-primary': percent>=30 && percent<70, 'lable-success': percent>=70}">{{percent}}%</span>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified trending-footer-tab">
                            <!-- <li class="wishlist" ng-click="removeWishlist(wishData)" ng-hide="itemListing.iid == wishData">
                                <a>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Remove wishlist
                                </a>
                            </li> -->
                            <li class="wishlist" ng-click="addWishlist(itemListing.iid)" >
                                <a>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Add to wishlist
                                </a>
                            </li>
                            <li >
                                <a><i class="fa fa-exchange" aria-hidden="true"></i> Add to compare</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="item">

        </div>-->
    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <i class="fa fa-angle-left trending-pointer"></i>
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <i class="fa fa-angle-right trending-pointer"></i>
    </a>
</div>

<button ng-click="save()">Save</button>
<button ng-click="load()">Load</button>
<button ng-click="remove(data)">Remove</button>
<button ng-click="removeAll()">Delete</button>
{{data}}
