
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <img src="images/home/free.png" class="modal-new">
                <form method="POST" name="addItem" role="form" ng-submit="saveAdd()" enctype = "multipart/form-data" ng-controller="StoreController"  novalidate>
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Add an item you want to sell.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <input ng-model="form.item_title" name="item_title" maxlength="70" placeholder="Title" type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" >
                                            <span class="input-group-addon">{{ 70 - form.item_title.length + ' Char' }}</span>
                                        </div>
                                        <span class="form-error" ng-show="addItem.item_title.$error.required">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> A good title is more attractive to buyers!
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon">Kshs</span>
                                            <input ng-model="form.item_price" name="item_price" placeholder="Price" type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" ng-pattern="/^[0-9,]+$/" required>
                                        </div>
                                        <span class="form-error" ng-show="addItem.item_price.$error.pattern">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Not a valid price!
                                        </span>
                                        <span class="form-error" ng-show="addItem.item_price.$error.required">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> Provide a real price tag for this item!
                                        </span>
                                    </div>
                                </div>                                

                                <div class="form-group">
                                    <!-- snake_case() will convert "machine_name" for us in StoreController. -->
                                    <input type="hidden" ng-model='form.category_snake_case' ng-value="form.category_snake_case = form.item_category" name='category_snake_case' class="form-control">
                                    <select class="form-control" ng-model='form.item_category'>
                                        <option value="">-- Select Category --</option>
                                        <optgroup ng-repeat="category in categories" label="{{category.title}}">
                                            <option ng-repeat="(property, value) in category.sub_categories" value="{{value}}" ng-bind="value"></option>
                                        </optgroup>  
                                    </select>
                                    <span class="form-error" ng-show="addItem.item_category.$error.required">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> If NOT provided, suggest one <a href="{{url('suggest_category')}}"  target="_blank">here</a>!</span>
                                </div>
                                
                                <div class="form-group">
                                    <textarea row="1" maxlength="5000" ng-model="form.item_description" name="item_description" class="form-control" > Description</textarea>
                                    <span class="form-error" ng-show="addItem.item_description.$error.required">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Provide as many details as possible, be smart!
                                    </span>
                                    <p class="text-right">{{ 5000 - form.item_description.length + ' Char' }}</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input ng-model="form.user_location" placeholder="Location Or Building" class="form-control" autocomplete="off" googleplace>
                                    <span class="form-error" ng-show="addItem.user_location.$error.required">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Buyers would like to know where your located!</span>
                                </div>
                                <div class="form-group">
                                    <input ng-model="form.user_name" type="text" placeholder="Your Name" name="user_name" class="form-control"  />
                                    <span class="form-error" ng-show="addItem.user_name.$error.required">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Help buyers have trust on you!</span>
                                </div>
                                <div class="form-group">
                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon">+254</span>
                                            <input ng-model="form.user_mobile" name="user_mobile" placeholder="Mobile Number" maxlength="14" type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" ng-pattern="/^[0-9+]+$/" required>
                                        </div>
                                        <span class="form-error" ng-show="addItem.user_mobile.$error.pattern">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Not a valid number!
                                        </span>
                                        <span class="form-error" ng-show="addItem.user_mobile.$error.required">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> Buyers will contact you on this number!
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input ng-model="form.user_email" type="email" placeholder="Email" name="user_email" class="form-control" />
                                    <span class="form-error">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Important for your account reset only!
                                    </span>
                                    <p class="form-error" ng-show="addItem.user_email.$error.email">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Not a valid email address!
                                    </p>
                                </div>
                            </div>
                        </div>

                    <!-- <div flow-init="{target: '/upload'}" flow-name="obj.flow" testChunks="false" flow-object="existingFlowObject" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message"> -->
                    <!-- <div flow-init="{target: '/upload'}" flow-name="obj.flow" flow-object="existingFlowObject" flow-files-submitted="InsertItems($flow.upload())" flow-file-success="$file.msg = $message"> -->

                        <div class="">
                            <div class="col-sm-12">
                                Upload Photo <i>(You can upload up to 6 photos, Maximum photo size is 5 MB)</i>
                                <hr class="soften"/>
                            </div>
                            <!-- <div ng-init="divLoaded()" flow-init flow-name="obj.flow" > </div> -->
                            <div class=" btn-box">
                                <span class="btn" ng-hide="$flow.files.length" flow-attrs="{accept:'image/*'}"><i class="fa fa-file-image-o" aria-hidden="true"></i> Upload Image</span>
                                <span class="btn" maxlength="4" ng-show="$flow.files.length" flow-attrs="{accept:'image/*'}"><i class="fa fa-file-image-o" aria-hidden="true"></i> Add more</span>
                            </div>
                            <div class="thumbnail" ng-hide="$flow.files.length">
                                <img src="images/home/itemPhoto.png" />
                            </div>
                        </div>

                        <div class="">                           
                            <div class="col-sm-4 thumbnail" ng-repeat="file in $flow.files">
                                <img ng-model="form.item_photos.files" flow-img="$flow.files[$index]" /><span>{{$index+1}}. {{file.name}}</span>
                            </div>
                        </div>
                        <div class="text-left">
                            You have {{ 6 - obj.flow.files.length + ' chances remaining for photo upload.' }}
                        </div>
                        <!-- <button type="submit" class="btn btn-primary" ng-click="InsertItems($flow)">Submit</button> -->  
                        
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="checkbox">
                                            <input  ng-model="form.agree_to_terms" name="agree_to_terms" type="checkbox" >
                                            <span class="form-error" ng-show="addItem.agree_to_terms.$error.required">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                By clicking 'submit' you agree to our <a href="{{url('terms_of_use')}}">Terms of Use</a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <!-- <button type="submit" class="btn btn-primary" ng-click="InsertItems($flow.files.length)">Submit</button> -->
                                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>