<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="logo pull-left">
                <a href="/"><img ng-src="images/home/logo.png" alt="" /></a>
            </div>
            <div class="btn-group pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                        CURRENCY <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">KES</a></li>
                        <li><a href="#">USD</a></li>
                    </ul>
                </div>
        
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                        LANGUAGE <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu languages">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Kiswahili</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shop-menu pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="shop-links"><i class="fa fa-star"></i> Wishlist</a></li>
                    <li><a href="#" class="shop-links"><i class="fa fa-crosshairs"></i> Compared List</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#sell-item" class="shop-links-account"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Sell an item</a></li>
                    <li><a href="#" class="shop-links-account"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>