<div class="container">
    <div class="row">
        <!--<div class="col-sm-3">
            <div class="left-sidebar">
                <div class="shipping text-center">
                    <img ng-src="images/home/segment6-advert.jpg" alt="" />
                </div>
            </div>
        </div>-->

        <div class="col-sm-12">
        <!-- Allow first tub to be open -->
            <div class="category-tab">
       
                <ul class="nav nav-tabs african-tab" ng-click="exploreMore()">
                    <li class="pull-left african">
                        <a href="#" data-toggle="tab">Smart Phones</a>
                    </li>

                    <li class="view-more pull-right">
                        <a href="#" class="view-more-text" data-toggle="tab">View More</a>
                    </li>

                    <li class="pull-right"><a href="#one1" data-toggle="tab">Smart Phones</a></li>
                    <li class="pull-right"><a href="#two2" data-toggle="tab">Tablets</a></li>
                    <li class="pull-right"><a href="#three3" data-toggle="tab">Phones Accessories</a></li>
                </ul>
                   
                <div class="tab-content" ng-hide="getItemId" >
                    <div class="tab-pane fade active in" id="one1">
                        <div ng-hide="initiateActivation" ng-include="'templates/itemPartials/segmentOne/one1.html'"></div>
                    </div>

                    <div class="tab-pane fade" id="two2" >
                        <div ng-hide="initiateActivation" ng-include="'templates/itemPartials/segmentOne/two2.html'"></div>
                    </div>

                    <div class="tab-pane fade" id="three3" >
                        <div ng-hide="initiateActivation" ng-include="'templates/itemPartials/segmentOne/three3.html'"></div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div> 

<section id="">
    <div class="container" ng-if="getItemId">
        <div class="row" ng-repeat="singleItem in getItems | filter:{iid:getItemId}:true">
            
            <div class="col-md-8">

                <div class="zoomIn"><!-- carousel-caption  -->
                    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                    <span class="item-results-title">{{singleItem.item_title}}</span>
                </div>

                <div class="item-results-img-box">
                    <div class="item-results-img-box-float">
                        <div ng-controller="RatingCtrl" class="item-results-img-box-float-box">
                            <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                            
                            <span class="lable pull-right" ng-class="{'lable-default': percent<30, 'lable-primary': percent>=30 && percent<70, 'lable-success': percent>=70}">{{percent}}%</span>
                        </div>
                        <div class="item-results-img-box-float-box">
                            <i class="fa fa-heart-o" aria-hidden="true"></i> ADD TO WISHLIST 
                        </div>
                        <div class="item-results-img-box-float-box">
                            <i class="fa fa-exchange" aria-hidden="true"></i> ADD TO COMPARE 
                        </div>
                    </div>
                    <img ng-src="/images/home/web.jpg" class="img-responsive item-results-img">
                </div>

                <div class="item-results-description-box">
                    {{singleItem.item_description}}
                </div>

                <table class="table table-hover table-inverse item-results-similar">
                    <thead>
                        <tr>
                            <th colspan="3">Suggested Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="item-results-img-box-similar">
                                    <img ng-src="/images/home/web.jpg" class="img-responsive item-results-img-similar">
                                </div>
                            </td>
                            <td>
                                <span>title</span>
                                <span>price</span>
                                <span>phone</span>
                            </td>
                            <td>
                                <span>Add Wishlist</span>
                                <span>Add Compare</span>
                                <span>Share</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="item-results-img-box-similar">
                                    <img ng-src="/images/home/web.jpg" class="img-responsive item-results-img-similar">
                                </div>
                            </td>
                            <td>
                                <span>title</span>
                                <span>price</span>
                                <span>phone</span>
                            </td>
                            <td>
                                <span>Add Wishlist</span>
                                <span>Add Compare</span>
                                <span>Share</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div class="">
                    Facebook Comments
                </div> -->
            </div>
            
            <div class="col-md-4">

                <div class="pricetag">
                    Kshs {{singleItem.item_price}}
                </div>

                <div class="item-results-contact-box">
                    <div class="item-results-contact-phone">
                        <div ng-click="show = true" ng-hide="show" class="item-results-contact-hide-phone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{singleItem.user_mobile | limitTo:4}} <span>Show No.</span>
                        </div>
                        <div ng-if="show" class="item-results-contact-show-phone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{singleItem.user_mobile}}
                        </div>

                        <div>
                            Scan this QR code with your smart phone to make a directly call.
                        </div>
                    </div>
                    <div class="">
                        <img ng-src="images/barCode/qrcode.png" class="img-responsive barcode">
                    </div>
                </div>

                <div class="item-results-user-box">
                    <div ng-controller="MapCtrl as vm" class="">
                        <ng-map zoom="15" center="{{singleItem.user_location}}" class="item-results-map-size"
                            on-center-changed="centerCustomMarker()">

                            <marker position="{{singleItem.user_location}}" on-click="vm.showCustomMarker()"></marker>
                            
                            <div class="found-results-map-caption" id="foo" position="{{singleItem.user_location}}" on-click="vm.closeCustomMarker()">
                                <i class="fa fa-tag" aria-hidden="true">
                                {{singleItem.user_name}}
                                </i><br>
                                <i class="fa fa-envelope" aria-hidden="true">
                                {{singleItem.user_email}}
                                </i><br>
                                <i class="fa fa-map-marker" aria-hidden="true">   {{singleItem.user_location}}
                                </i><br>
                            </div>
                        </ng-map>
                    </div>
                </div>

                <!-- <div class="left-sidebar">
                    <div class="brands_products">
                        <h2>Shop by Brands</h2>
                        <div class="brands-name" ng-controller="StoreController">
                            <ul class="nav nav-pills nav-stacked" ng-repeat="brand in brands">
                                <li><a href="#"> <span class="pull-right">(50)</span>{{brand.name}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="price-range">
                        <h2>Shop by Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                            <b class="pull-left">Ksh 0</b> <b class="pull-right">Ksh 600</b>
                        </div>
                    </div>
                </div> -->  
            </div>

        </div>
    </div>
</section>



