<div class="container" ng-hide="getItemId">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">

                <div class="brands_products">
                    <h2>Shop by Brands</h2> <!-- Shop by location -->
                    <div class="brands-name" ng-controller="StoreController">
                        <ul class="nav nav-pills nav-stacked" ng-repeat="brand in brands">
                            <li><a href="#"> <span class="pull-right">(50)</span>{{brand.name}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="price-range">
                    <h2>Shop by Price Range</h2>
                    <div class="well text-center">
                        <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                        <b class="pull-left">Ksh 0</b> <b class="pull-right">Ksh 600</b>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="category-tab">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs trending-tab" ng-click="exploreMore()">
                        <li class="view-more">
                            <a href="#" class="view-more-text" data-toggle="tab">View More</a>
                        </li>

                        <li class=""><a href="#one" data-toggle="tab">Laptops</a></li>
                        <li><a href="#two" data-toggle="tab">Sport Wear</a></li>

                        <li class="pull-left trending"><a href="#" data-toggle="tab">LATEST ITEMS</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div ng-hide="initiateActivation" ng-include="'templates/itemPartials/latest/one.html'"></div>
                    </div>

                    <div class="tab-pane fade" id="two" >

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>