
<!-- ng-click="$event.stopPropagation()" prevents the drop down from closing unless you click on the tag that opens it.-->
<div class="col-md-3 search-box" ng-click="$event.stopPropagation()" > 
	<div class="search-img"><img ng-src="/images/home/itemPhoto.png" class="img-responsive"></div>
	<ul unstyled class="search-list-img"> 
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
    		<span ng-bind-html="match.model.item_title | uibTypeaheadHighlight:query"></span>
		</li>
		<li>
			<i class="fa fa-money" aria-hidden="true"></i>
    		<span ng-bind-html="match.model.item_price | uibTypeaheadHighlight:query"></span>
		</li>
		<li>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
    		<span ng-bind-html="match.model.user_location | uibTypeaheadHighlight:query"></span>
		</li>
		<!-- <a ng-href="{{match.model.title}}" > Explore More</a> -->
	</ul>
</div>   