<div class="container" ng-controller="SearchStoreController">
            <div class="row">
                <div class="col-md-12">
                
            <!-- <form action='/new-photo' id="upload" method='post'  enctype="multipart/form-data">
                <input type="hidden" name="_token" value="{!! csrf_token() !!}">
                <input type="file" ng-model="form.itemImg" name='image[]' accept="image/*" class="form-control" multiple/>
                <input type="submit" name="submit" value="Save" class="btn btn-send">
            </form> -->

                    <div id="search">
                
                        <script type="text/ng-template" id="customPopupTemplate.html">
                            <div class="custom-popup-wrapper" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">

                            <div class="message" ng-click="$event.stopPropagation()">
                                <div ng-hide="getItems.length - pageSize < 1" ng-controller="SearchStoreController">
                                    <span uib-pagination total-items="getItems.length" ng-model="selectedItems" items-per-page="pageSize" boundary-links="true" force-ellipses="true" max-size="maxSize" class="pagination-sm"></span>
                                </div>
                            </div>

                            <ul class="dropdown-menu" role="listbox" >
                                <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.iid}}">
                                    <div class="col-md-3 search-box">
                                        <div class="search-img"><img ng-src="/images/home/anne.jpg" class="img-responsive"></div>
                                        <div class="search-list-img">
                                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                            <span ng-bind-html="match.model.item_title | uibTypeaheadHighlight:query"></span>
                                            <br>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span ng-bind-html="match.model.item_price | uibTypeaheadHighlight:query"></span>
                                            <br>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span ng-bind-html="match.model.user_location | uibTypeaheadHighlight:query"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          </div>
                        </script>

                        <div class="typeahead-demo" id="custom-templates">
                            <input type="text" ng-model="selectedItems" uib-typeahead="item as item.item_title for item in getItems | filter:$viewValue | limitTo: maxSize" typeahead-loading="loadingLocations" typeahead-no-results="noResults" placeholder="Search for item's, brand, price, location & category" typeahead-popup-template-url="customPopupTemplate.html" typeahead-show-hint="true" typeahead-min-length="0" class="form-control">
                        </div>

                        <div ng-show="loadingLocations">
                            <i class="glyphicon glyphicon-refresh"></i> 
                        </div>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No matches found... Try <a href="#">Advanced</a> search.
                        </div>
                    </div>
                </div>
            </div>

            <div id="found" ng-if="selectedItems.iid">
                <div class="found-results-box">
                    <div class="col-md-4">
                        <div class="row">
                            <img ng-src="/images/home/web.jpg" class="img-responsive found-results-img">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="found-results-description-box">
                                
                                <div class="col-sm-8">
                                    <div class="found-results-title">{{selectedItems.item_title}}</div>
                                </div>
                                <div class="col-sm-4">
                                    <div ng-click="show = true" ng-hide="show" class="found-results-hide-phone">
                                        Show phone number of Scan this QR to call
                                    </div>
                                    <div ng-if="show" class="animate-if found-results-show-phone">
                                        {{selectedItems.user_mobile}}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="found-first-box">
                                        <ul class="found-results-price-n-desc" unstyled>
                                            <li class="found-results-price">Kshs{{selectedItems.item_price}}</li>
                                            <li class="found-results-description">
                                                {{selectedItems.item_description | limitTo:numLimit}} 
                                            </li>
                                        </ul>
                                        <div ng-if="numLimit == 387">
                                            <a ng-click="readMore()" class="found-results-desc-btn">
                                                <i class="fa fa-plus" aria-hidden="true"></i> read more
                                            </a>
                                        </div>
                                        <div ng-if="numLimit == 5000">
                                            <a ng-click="readLess()" class="found-results-desc-btn">
                                                <i class="fa fa-minus" aria-hidden="true"></i> read less
                                            </a>
                                        </div>
                                    </div>
                                </div>
                               
                                <div ng-controller="MapCtrl as vm" class="found-results-map-box">
                                    <ng-map zoom="15" center="{{selectedItems.user_location}}" class="found-results-map-size"
                                        on-center-changed="centerCustomMarker()">

                                        <marker position="{{selectedItems.user_location}}" on-click="vm.showCustomMarker()"></marker>
                                        
                                        <div class="found-results-map-caption" id="foo" position="{{selectedItems.user_location}}" on-click="vm.closeCustomMarker()">
                                            <i class="fa fa-tag" aria-hidden="true">
                                            {{selectedItems.user_name}}
                                            </i><br>
                                            <i class="fa fa-envelope" aria-hidden="true">
                                            {{selectedItems.user_email}}
                                            </i><br>
                                            <i class="fa fa-map-marker" aria-hidden="true">   {{selectedItems.user_location}}
                                            </i><br>
                                        </div>
                                    </ng-map>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="found-results-similar-body">
                                <div class="found-results-similar-title">
                                    Similar Items
                                </div>
                                <div ng-repeat="similarItem in getItems | filter:{item_category:selectedItems.item_category}:true" class="found-similar-box">
                                    {{similarItem.item_title}}<br>
                                </div>
                                <div class="found-results-similar-title">
                                    See more similar Items
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>