<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                </ol>

                <div class="category-box">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav category-box-list">
                            <li class="dropdown open">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list" aria-hidden="true"></i> SHOP BY CATEGORY<span class="caret caret-category"></span></a>

                                <ul class="dropdown-menu" ng-controller="StoreController" >
                                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> All Categories</a></li>

                                    <li role="separator" class="divider"></li>

                                    <li ng-repeat="category in categories">   
                                        <a href="#" >
                                            <i class="{{category.icon}}" aria-hidden="true"></i>  {{category.title}}
                                        </a>
                                        <div role="separator" class="{{category.line_divider}}"></div>
                                    </li>
                                   <!--  <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> Computers & Gaming</a></li>
                                    <li><a href="#"><i class="fa fa-plug" aria-hidden="true"></i> Electronics</a></li> -->

                                   <!-- <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile & Tablets</a></li>
                                    <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> Computers & Gaming</a></li>
                                    <li><a href="#"><i class="fa fa-plug" aria-hidden="true"></i> Electronics</a></li>

                                    <li role="separator" class="divider"></li>

                                    <li><a href="#"><i class="fa fa-female" aria-hidden="true"></i> Women's Fashion</a></li>
                                    <li><a href="#"><i class="fa fa-male" aria-hidden="true"></i> Men's Fashion</a></li>
                                    <li><a href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Kid's Toys & Fashion</a></li>

                                    <li role="separator" class="divider"></li>

                                    <li><a href="#"><i class="fa fa-bed" aria-hidden="true"></i>Furniture's</a></li>
                                    <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Beauty Products & Cosmetics</a></li>
                                    <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> African batik</a></li>

                                    <li role="separator" class="divider"></li>

                                    <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> African Accessories</a></li> -->

                                    <li role="separator" class="divider"></li>

                                    <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i> See all categories</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-6">
                            <h1><span>MWANANCHI</span>-STORE</h1>
                            <h2>Free E-Commerce Shop</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-default get">Shop now</button>
                        </div>
                        <div class="col-sm-6">
                            <img ng-src="images/home/anne.jpg" class="girl img-responsive" alt="" />
                            <img ng-src="images/home/pricing.png"  class="pricing" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>MWANANCHI</span>-STORE</h1>
                            <h2>Free Ecommerce Shop</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-default get">Shop now</button>
                        </div>
                        <div class="col-sm-6">
                            <img ng-src="images/home/anne.jpg" class="girl img-responsive" alt="" />
                            <img ng-src="images/home/pricing.png"  class="pricing" alt="" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>MWANANCHI</span>-STORE</h1>
                            <h2>Free Ecommerce Shop</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button type="button" class="btn btn-default get">Shop now</button>
                        </div>
                        <div class="col-sm-6">
                            <img ng-src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
                            <img ng-src="images/home/pricing.png" class="pricing" alt="" />
                        </div>
                    </div>

                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>