<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="contactinfo">
                <ul class="nav nav-pills">
                    <li><a href="#"> Need help? <i class="fa fa-phone"></i> 0735 231 365</a></li>
                    <li><a href="#" id=""><i class="fa fa-shopping-cart" data-toggle="modal" data-target="#sell-item" aria-hidden="true"></i> Sell an item for free?</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="social-icons pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>